@media (max-width: 400px) {
  header {
    font-size: .8em;
    height:auto;
  }

  #header-nav {
    width: 100%;
    margin: 4% 20%;
    display: inline-block;
    height: 150px;
  }

  #logo {
    position: relative;
      width: 60px;
      height: 60px;
      display: inline-block;
      top: 88px;
      left: 100px;
  }

 #logo img {
   width:60px;
   height:60px;
 }

  header {
  }

  header h1 {
    position: relative;
    letter-spacing: -3px;
    font-size: 3.4em;
  }
  header h6 {
    position:relative;
    bottom:18px;
    margin:0;
    font-size:1.3em;
  }
  header p {
    display: none;
  }
  header ul {
    width: 100%;
    margin-left: 42%;
    margin-top: -7%;
    font-size: 1.8em;
  }
  header li {
    margin-left:4%;
    padding:0;
  }

/**********************************
SECTION
**********************************/

#container {
  width: 85%;
  }

  section {
    width:100%;
  }

  section p {
    line-height: 1.3;
    font-size: 1.1em;
  }

  section h1 {
    font-size: 3.5em;
    line-height: 65px;
  }

  #midquote {
  font-size: 1.2em;
  }
  #midquote h2 {
    color: navy;
    padding-top: 5%;
    padding-left: 4%;
    font-weight: normal;
    font-family: Arial, sans-serif;
    font-size: 1.2em;
  }

  #resp-subheader {
    font-size: 1.1em;
    line-height: 1.5;
  }

  #resp-subheader img{
    display:none;
  }

  #resp-subheader .minibluetext{
    display:none;
  }
  #resp-subheader span {
      display:none;
  }

  #resp-subheader a {
    font-size: .8em;
    line-height: 1.5;
  }

  /****************************
  ASIDE MOVING BELOW
  ****************************/

  aside {
    width:100%;
    padding:0;
    margin-top:18%;
    margin-bottom: 18%;
  }

  #aside-header img{
    position: relative;
    width:130px;
    height:130px;
    left:26%;
  }

  #aside-header a {
    font-size: 1.1em;
  }
  #aside-header p {
    position: relative;
    font-size: 1.6em;
    left:0;
  }

  #aside-header ul {
    position: relative;
    left: 5%;
    bottom: 23px;
    margin: 0;
  }
  #side-image img {
    position: relative;
    width:260px;
    height:280px;
    left:14%;
  }

  #side-image p a {
    position: relative;
    font-size: 1.1em;
    left: 57%;
    top: 8px;
  }

  aside section {
    display:none;
  }

  #container-res-bot {
    width:85%;
    height:100%;
    margin:0 auto;
  }

  #photo-footer-title {
    font-family:"Oswald",sans-serif;
    font-size: 2.37em;
    margin-bottom:  8%;
  }

  #photo-footer-nav {
      display: inline-block;
      width: 25%;
      position: relative;
      margin-left: 2%;
  }

.tinted {
  display: none;
}

  #photo-banner1 {
    position: relative;
    display: block;
    width: 100%;
    margin: 6% 0;
    height: 300px;
  }

  #photo-banner2 {
    position: relative;
    display: block;
    width: 100%;
    margin: 6% 0;
    height: 300px;
  }

  #photo-banner3 {
    position: relative;
    display: block;
    width: 100%;
    margin: 6% 0;
    height: 300px;
  }

  #photo-banner4 {
    margin:0 0 0 0;
    position: relative;
    display: block;
    width: 100%;
    margin: 6% 0;
    height: 300px;
  }
  footer {
    background-color: navy;
    height: 200px;
    width: 100%;
    font-size: 1.5em;
  }

  footer .greytext:nth-child(2) {
    display:block;
  }

}
